.page-title {
    min-height: 260px;
    background: #146c43;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.page-title h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.dashboard {
    padding: 60px 7%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.dashboard-card {
    background: white;
    padding: 35px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.dashboard-card h2 {
    color: #198754;
    font-size: 35px;
}

.dashboard-card p {
    margin-top: 8px;
}

.content-section {
    max-width: 900px;
    margin: auto;
    padding: 50px 25px;
    text-align: center;
}

.content-section h2 {
    color: #146c43;
    margin-bottom: 15px;
}

.contact-section {
    max-width: 700px;
    margin: auto;
    padding: 60px 25px;
}

.contact-form {
    background: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.contact-form button {
    border: none;
    background: #198754;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #146c43;
}

@media (max-width: 800px) {

    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {

    .dashboard {
        grid-template-columns: 1fr;
    }
}